body{
    height: 100%;
}

*{
    margin: 0;
}

.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.bg-img {
    /* background: url("https://firebasestorage.googleapis.com/v0/b/fir-flutter-99d26.appspot.com/o/school.png?alt=media&token=aef27400-e5df-42d6-89b6-42d9e272078e");
     */
    background: url(../../assets/images/school.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.headline {
    position:absolute;
    top:60px;
    width: 100%;
}

.jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url(../../assets/images/school.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.jumbotron h1 {
    text-align: center;
}